@font-face {
  font-family: "FantaisieArtistique";
  src: local("FantaisieArtistique"),
    url("../fonts/FantaisieArtistique.ttf") format("truetype");
}
.topconnectwallet{
  top: 5px;
  display: absolute;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  margin-top: 10px;
  float: right;
}
.connectarea{
  display: flex;
  align-items: center;
  border: 3px solid #e93a88;
  border-radius: 8px;
}
.topconnectbutton{
  /* border-bottom-left-radius: 0;
  border-top-left-radius: 0; */
  cursor: pointer;
  font-weight: bold;
  font-size: 1.25em;
  /* border-radius: 0.375rem; */
  justify-content: center;
  align-items: center;
  font-family: 'FantaisieArtistique', cursive;
  letter-spacing: 0.12em;
  border: none;
  /* border: 3px solid #e93a88;
  border-radius: 8px; */
  height: 5vh;
  width: 10vw;
  /* padding-top: 10px; */
  transition: all .3s ease;
  display: inline-flex;

}
.hamburger{
    display: block;
    width: 32px;
    height: 2px;
    background-color: #000;
    transition: transform 0.1s cubic-bezier(.645,.045,.355,1);
    margin-top: 0.5rem;
}

.hamburgerfirstactive{  
    display: block;
    width: 32px;
    height: 2px;
    /* transform-origin: 1px center; */
    background-color: #000;
    transform: rotate(-45deg);    
    transition: transform 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.hamburgersecondactive{
    display: block;
    width: 32px;
    /* transform-origin: 1px center; */
    height: 2px;
    background-color: #000;
    transform: rotate(45deg);
    transition: transform 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
}

@media screen and (max-width:768px) {
    .hamburger{
        width: 20px;
    }
}
.mainlayout{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    
}
.loader{
  display:flex;
  justify-content: center;
  align-items: center;
  
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.loadinglayout{
  display: flex;
  justify-content: center;
  z-index: 100;
  position: absolute;
  position: absolute;
  left: 0;
  right: 0;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}
.stakecontainer{
  display: grid;
  height: 50vh;  
  width: 100%;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  overflow: scroll;
  grid-gap: 10px;
  padding: 10px;
}
.tickercontainer{
  display: flex;
  /* height: 10vh; */
  width: 25vw;
  margin-bottom: 20px;
  flex-direction: column;
  gap: 4px;
}
.tickercontainerbox{
  display: inline;
  font-family: 'FantaisieArtistique', cursive;
  
}
.tickerdisplay{
  padding: 0.75rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.75rem;
  gap: 6px;
  display: flex;
  background-color: rgb(148, 144, 138);
  flex-direction: column;  
}
.tickerheader{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tickerstatus{
  display: flex;
  align-items: center;
}
.tickerstatustitle{
  color: #0f0f0f;
  font-size:14px;
  padding-bottom: 0.125rem;
  font-family: 'FantaisieArtistique', cursive;
  padding-top: 0.125rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  background-color: #e7dfe0;
  border-radius: 20%;
  height: fit-content;
}
.ticker{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  font-family: 'FantaisieArtistique', cursive;
  line-height: 1.25rem;
  text-align: center;
  gap: 0.5rem;
  justify-content: center;
  align-items:center;
  color:#0c0607;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
}
.tickerboxcontainer{
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
}
.tickerbox{
  display:inline;
}
.tickerboxdisplay{
  color:#000000;
  font-weight: 700;
  font-size: .875rem;
  line-height: 1.25rem;
  /* border-color: #D65170; */
  background-color:#e7dfe0;
  justify-content: center;
  align-items:center;
  border-radius: 0.25rem;
  width: 2rem;
  height: 2rem;
  display: flex;

}
.tickernotification{
  color:#062844;
  font-weight: bold;
  font-family: 'FantaisieArtistique', cursive;
  letter-spacing:.025rem;
  font-size: 1rem;
  line-height:1.25rem;
  gap:0.375rem;
  display: flex;

}
.tickerminted{
  color:#062844;
  font-weight: bolder;
  letter-spacing:.125rem;
  text-align: center;
  font-size: 1rem;
  
  line-height:1.25rem;
  gap:0.375rem;

}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.stakeheading {
  padding: 2px 16px;
}
.mintcontainer{
    /* height: 50vh;
    width: 50vw; */
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    /* background-image: url("./images/stone.jpg"); */
    background-color: rgb(148, 144, 138);
    border-radius: 5px;
    /* background: transparent ; */
    box-shadow: 4px -4px 0 0 #ada9a9;
    transition: color 200ms ease, background-color 200ms ease, transform 200ms ease, box-shadow 200ms ease;
}
.calcbutton{
    background-color: #e7dfe0;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 1px #0f0f0f;
    color: #fff;
    cursor: pointer;
    
    padding: 15px;
    margin-top: 10px;

}
.mintinput{
    /* text-align: center; */
    /* padding-left: 19px; */
    padding-left: 5vw;
    padding-right: 5vw;
    margin-right: 3px;
    
    margin-top: 10px;
    /* background-image: url("./images/stone.jpg"); */
    border: solid #020000;
}
.layout{
  display: flex;
  flex-wrap: wrap;
  /* background-image: url("./images/stone.jpg"); */
  /* border-radius: 12px; */
  /* margin: 10px; */
  /* box-shadow: -6px 6px 0 0 #1f2024; */
}
.counter{
  text-align: center;
  margin: 5px;
}
.container{
  /* display: flex; */
  /* flex-wrap: wrap; */
  font-weight: bold;
  /* background-image: url("./images/stone.jpg"); */
  border-radius: 12px;
  margin: 10px;
  box-shadow: -6px 6px 0 0 #1f2024;
}
.text{
  font-weight:bold;
  display: flex;
  color: #000000;
  text-shadow: 0px 2px 2px 1px #0f0f0f;
  flex-wrap: wrap;
}
.headercounter{
  text-align: center;
  margin: 15px;
}
.text{
  font-weight:bold;
  display: flex;
  color: #000000;
  text-shadow: 0px 2px 2px 1px #0f0f0f;
  flex-wrap: wrap;
}
.bg{
    background-image: url('../images/main.jpg');
    width: 100%;
    height: 100vh;
    
    background-size: 100vw 100%;
    /* max-height: 500px; */
}
.controlscontainer{
  display: flex;
  flex-direction: column;
}
.setsales{
    background-color: #29070f;
    width: 10vw;
    height: 10vh;
    
    border-radius: 5px;
    box-shadow: 0px 2px 2px 1px #0f0f0f;
    border: 1px solid #e7dfe0;
    margin: 10px;
    color: #fff;
}

.primary-button.hero {
    z-index: 1;
    margin-top: 16px;
    margin-bottom: 24px;
    padding: 20px 40px;
    font-family: 'FantaisieArtistique', cursive;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    /* background-image: url("./images/stone.jpg"); */
    -ms-grid-row-align: center;
    align-self: center;
    border-width: 8px;
    border-radius: 12px;
    background-color: rgb(148, 144, 138);
    box-shadow: -6px 6px 0 0 #1f2024;
    -webkit-transition: color 200ms ease, background-color 200ms ease, box-shadow 200ms ease, -webkit-transform 200ms ease;
    transition: color 200ms ease, background-color 200ms ease, box-shadow 200ms ease, -webkit-transform 200ms ease;
    transition: color 200ms ease, background-color 200ms ease, transform 200ms ease, box-shadow 200ms ease;
    transition: color 200ms ease, background-color 200ms ease, transform 200ms ease, box-shadow 200ms ease, -webkit-transform 200ms ease;
    color: #1f2024;
    font-size: 1.5em;
  }
  .secondary-button.hero {
    z-index: 1000;
    margin-top: 16px;
    margin-bottom: 24px;
    padding: 20px 40px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    /* background-image: url("./images/stone.jpg"); */
    border-width: 8px;
    border-radius: 12px;
    background-color: rgb(148, 144, 138);
    box-shadow: -6px 6px 0 0 #1f2024;
    -webkit-transition: color 200ms ease, background-color 200ms ease, box-shadow 200ms ease, -webkit-transform 200ms ease;
    transition: color 200ms ease, background-color 200ms ease, box-shadow 200ms ease, -webkit-transform 200ms ease;
    transition: color 200ms ease, background-color 200ms ease, transform 200ms ease, box-shadow 200ms ease;
    transition: color 200ms ease, background-color 200ms ease, transform 200ms ease, box-shadow 200ms ease, -webkit-transform 200ms ease;
    color: #1f2024;
    font-size: 1.5em;
  }

.mint-amount{
    width: 10vw;
  }
  .primary-button {
    padding: 16px 40px;
    border-style: solid;
    /* background-image: url("./images/stone.jpg"); */
    border-width: 4px;
    border-color: #1f2024;
    border-radius: 8px;
    background-color: #ff55a2;
    box-shadow: -3px 3px 0 0 #1f2024;
    -webkit-transition: background-color 200ms ease, box-shadow 200ms ease, -webkit-transform 200ms ease;
    transition: background-color 200ms ease, box-shadow 200ms ease, -webkit-transform 200ms ease;
    transition: background-color 200ms ease, transform 200ms ease, box-shadow 200ms ease;
    transition: background-color 200ms ease, transform 200ms ease, box-shadow 200ms ease, -webkit-transform 200ms ease;
    font-family: 'Right Grotesk', sans-serif;
    color: #fff;
    font-size: 1.25em;
    text-align: center;
    letter-spacing: 0.12em;
  }
  .secondary-button {
    padding: 4px 10px;
    border-style: solid;
    border-width: 4px;
    border-color: #1f2024;
    border-radius: 8px;
    background-color: rgb(148, 144, 138);
    box-shadow: -3px 3px 0 0 #1f2024;
    -webkit-transition: background-color 200ms ease, box-shadow 200ms ease, -webkit-transform 200ms ease;
    transition: background-color 200ms ease, box-shadow 200ms ease, -webkit-transform 200ms ease;
    transition: background-color 200ms ease, transform 200ms ease, box-shadow 200ms ease;
    transition: background-color 200ms ease, transform 200ms ease, box-shadow 200ms ease, -webkit-transform 200ms ease;
    font-family: 'Right Grotesk', sans-serif;
    color: #fff;
    font-size: 1.25em;
    text-align: center;
    /* background-image: url("./images/stone.jpg"); */
    letter-spacing: 0.12em;
  }
  .w-button{
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: #fff;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
  }
  @media only screen and (max-width:1280px){
    .tickercontainer{
      width: 40vw;
    }
    .w-button {
      width: 25vw;
    }
    .connectarea{
      width: 20vw;
    }
    .topconnectbutton{
      width: 20vw;
    }
   }
   @media only screen and (max-width:1024px){
    .tickercontainer{
      width: 50vw;
    }
    .w-button {
      width: 30vw;
    }
    .connectarea{
      width: 30vw;
    }
    .topconnectbutton{
      width: 30vw;
    }
   }
   
 @media only screen and (max-width:768px){
  .tickercontainer{
    width: 80vw;
  }
  .w-button {
    width: 40vw;
  }
  .connectarea{
    width: 40vw;
  }
  .topconnectbutton{
    width: 40vw;
  }
 }
 
 @media only screen and (max-width:450px){
  .tickercontainer{
    width: 80vw;
  }
  .w-button {
    width: 50vw;
  }
  .connectarea{
    width: 50vw;
    font-size: 0.75em;
  }
  .topconnectbutton{
    width: 50vw;
  }
 }

 @media only screen and (max-height:820px){
  .mainlayout{
    height:120vh;
  }
 }
 @media only screen and (max-height:720px){
  .mainlayout{
    height:140vh;
  }
  .bg{
    display: inline-block;
    height: 80vh;
  }
 }
 .lds-hourglass {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid rgb(209, 23, 23);
  border-color: rgb(175, 97, 97) transparent rgb(229, 143, 143) transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
